<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <bucketManager>
            <patch:attribute name="defaultProvider" value="support" />
            <providers>
                <clear/>
                <add name="support" type="Sitecore.Support.Buckets.Managers.PipelineBasedBucketProvider, Sitecore.Support.406507"/>
            </providers>
        </bucketManager>
    </sitecore>
</configuration>